@import "../../node_modules/bootstrap/scss/bootstrap.scss"

@import "./_icons"
@import "./_font"

body
    font-family: yes 



.modale
    height: 400px
    width: 800px
    background-color: black
    position: fixed
    right: 400px
    bottom: 400px
    z-index: 1
    box-shadow:  0 0 250px black
    border-radius: 12%
    border-top: white solid 6px
    border-bottom: white solid 6px
.modale2
    height: 400px
    width: 800px
    background-color: black
    position: fixed
    margin-left: 140px
    margin-top: 10px
    margin-right: 140px
    z-index: 1
    box-shadow:  0 0 250px black
    border-radius: 12%
    border-top: white solid 6px
    border-bottom: white solid 6px
    
    

#bilou
    background-color: #f3f3f3

#section2
    #section2Div
        // border: solid red
        .img1
            border: white solid 10px
            background-image: url("../../public/img/services/service-1.jpg")
            background-size: cover
            width: 100%
        .img2
            border: white solid 10px
            background-image: url("../../public/img/services/service-2.jpg")
            background-size: cover
            width: 100%
        .img3
            border: white solid 10px
            background-image: url("../../public/img/services/slider-3.jpg")
            background-size: cover
            width: 100%
        
#section4
    .section4Img 
        background-image: url("../../public/img/cta-bg.jpg")  
        
        height: 750px
        background-size: cover
        background-position: center
        display: flex
        align-items: center
        flex-direction: column
        justify-content: center

                

#section5
    .row
        .col-4
            display: flex
            flex-direction: column
            align-items: center
            .btn
                width : 50%

.copyright
    height: 90px
    width: 100%
    background-color: black

.col31
.col32
.col33
.col34
.col35
    display: none    
.col36
    display: none 
.col37
    display: none 
.col38
    display: none 
.col39
    display: none 
.col39
    display: none     


