@import "../../node_modules/bootstrap/scss/bootstrap.scss"


// Section 1 Fond

#shopBanner
    background-color: #f3f3f3

#section2
    #section2Div
        .row
            .col-4
                border: solid yellow 3px
                display: flex
                

#section5
    .row
        .col-4
            border: 16px white solid
        
               


